<table class="data-table">
  <thead>
    <tr>
      @for (header of headers; track $index) {
      <th>{{ header }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of displayedData; track row.id) {
    <tr>
      @for (propertyName of propertyNames; track $index) {
      <td>
        @if (customCellTemplates[propertyName]) {
        <ng-container
          [ngTemplateOutlet]="customCellTemplates[propertyName]"
          [ngTemplateOutletContext]="{ $implicit: row }"
        ></ng-container>
        } @else {
        {{ row[propertyName] }}
        }
      </td>
      }
    </tr>
    }
  </tbody>
</table>

<div class="table-footer">
  <div class="total-results">{{ totalResults }} resultados</div>
  <div class="pagination-controls">
    <button
      (click)="goToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="btn btn-primary"
    >
      «
    </button>

    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      (click)="goToPage(i + 1)"
      [class.active]="currentPage === i + 1"
      class="btn"
    >
      {{ i + 1 }}
    </button>

    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="btn btn-primary"
    >
      »
    </button>
  </div>
  <div class="pagination-controls">
    <select
      [value]="pageSize"
      (change)="onPageSizeChange($event)"
      class="form-control"
    >
      @for (option of pageSizeOptions; track $index) {
      <option [value]="option">{{ option }}</option>
      }
    </select>
  </div>
</div>
