@use "variables" as *;

.banner {
  background-color: $white;
  padding: 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .banner-icon {
    font-size: 2em;
    margin-right: 10px;
  }

  .banner-text {
    margin: 0;
    font-size: 2em;
    color: #333;
  }
}
